/*RESET*/
img {
    width: 60px;
}

.ms_info-hours {
    font-size: .7rem;
}
.ms_mess-text {
    font-size: .7rem;
}
/*CUSTOM PROP*/
:root {
    --baground-search-chat:rgb(142 218 252);
}
/*HEADER*/
.ms_header-left,
.ms_header-right {
    height:70px ;
}


.ms_avatar-chat-cont {
    width: 70%;    
}

/*Main-Avatar*/
.ms_new-mess {
    height: 80px;
    
}

.ms_search-chat {
    height: 60px;
}


/*RESPONSIVE*/
/*Card section Tablet*/
@media screen and (min-width:768px) {
    .ms_cont-card {
        height: 682px;
   
    }
}



/*RESPONSIVE*/
/*Card section Desktop*/
@media screen and (min-width:992px) {
    .ms_cont-card {
        height: 542px;
       
    } 
}

.ms_new-mess {
    background-color: var(--baground-search-chat);
}
.ms_cont-bell {
    background-color: white;
}

.fa-bell-slash {
    color: var(--baground-search-chat);
}

/*MAIN-AVATAR*/
.ms_cont-bell {
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.ms_input-search {
    width: 90%;
}

/*********************************************************
**********************************************************/
/*MAIN-CHAT*/

.ms_main {
    height: 612px;
    background-image: url(../img/mine.jpg);
}

::-moz-placeholder {
    font-size: .8rem;
}
/*********************************************************
**********************************************************/
.ms_footer {
    height: 70px;
    
} 
.ms_foot-center {
    width: 90%;
    height: 70px;
}

.ms_foot-left,
.ms_foot-right{
    width: 5%;
}

.ms_input-footer {
    width: 95%;
}

.fa-face-smile,
.fa-microphone {
    font-size: 1.3rem;
}


